body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 100vh;
}

.sidebar > div{
  margin: 15% 0;
}

.contact{
  margin-left: 50%;
}

.side-by-side{
  display: flex;
  background-color: var(--store-bg-color);
  padding: 3% 0;
}

.contact-card{
  border: solid black;
  margin: 1%;
  padding: 2%;
}